body {
  margin: 0;
  background-color: #303030;
  color: white;
}

.title {
  text-align: center;
  margin-top: 50px;
}

.title-sub {
  text-align: right;
  margin-right: 7vh;
}

.food {
  margin: 20px auto;
  width: 200px;
  background: #fff;
  color: black;
  padding: 20px;
  border-radius: 5px;
}

.navbar {
  background: #fff;
  padding: 20px;
}
.navbar a {
  margin-right: 10px;
  text-decoration: none;
}
